body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.owo-image {
  background-image: url("/images/omegaOWO.jpg");
  background-repeat: no-repeat;
  height: 750px;
  background-position: center;
  position: relative;
}
.owo-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
